@{
    ViewBag.Title = "Contact";
}
<div class="adtleft">
    <img scr="https://images.app.goo.gl/gv7QFAdbKn3bqfhTA" width="150" height="300" alt="Advertisement">
</div>
<div class="adtright">
    <img scr="https://images.app.goo.gl/wYmATVibGkzi8X51A" width="150" height="300" alt="Advertisement">
</div>
<div class="contactus">

    <center>
        <h1>
            <mark>

                Contact us...

            </mark>
        </h1>
        &nbsp;
        <address>
            <mark style="background-color:#c9c9c9">
                <strong>Adddress:</strong>
            </mark>
            <p>
            </p>
            <div class="address">
                <p>
                    <h3>
                        Collage Error

                    </h3>
                </p>
                <p>
                    <h3>
                        Godra Chokdi

                    </h3>
                </p>
                <p>
                    <h3>
                        Gujarat

                    </h3>
                </p>
                <p>
                    <h3>
                        388 450

                    </h3>
                </p>

                


            </div>

            &nbsp;
            <strong>Email:</strong><a herf="mailto:cemadvicecentre@dmu.ac.uk">cemadvicecentre@dmu.ac.uk</a>

        </address>
        <address>
            <strong>Call Us:</strong><a herf="callus:0116 255 1551">0116 255 1551</a>
        </address>
    </center>
</div>