@{
    ViewBag.Title = "Home Page";
}
<div class="adtleft">
    <img scr="https://images.app.goo.gl/gv7QFAdbKn3bqfhTA" width="150" height="300" alt="Advertisement">
</div>
<div class="adtright">
    <img scr="https://images.app.goo.gl/wYmATVibGkzi8X51A" width="150" height="300" alt="Advertisement">
</div>

<div class="adtleft2">
    <img scr="https://images.app.goo.gl/gv7QFAdbKn3bqfhTA" width="150" height="300" alt="Advertisement">
</div>
<div class="adtright2">
    <img scr="https://images.app.goo.gl/gv7QFAdbKn3bqfhTA" width="150" height="300" alt="Advertisement">
</div>
<div class="jumbotron">
    <center class="newdiv">
        <h1><mark style="background: lightyellow ">Collage Error</mark> </h1>
        &nbsp;
        <p><b><u>Learn Without Error....</u></b></p>


        <p class="lead"><h3>This is the Worl's best collage to pursue your degree without <b>Error </b></h3></p>
        <p> @Html.ActionLink(" More About Collage...", "About", "Home", new { @class = "footer2" }) </p>
    </center>
</div>

<div class="row">
    <div class="newdiv">
        <center> <h3><mark style="background: lightyellow ">Computer Science</mark> </h3></center>

        <p>&nbsp; </p>

        <p>
            <b>
                <mark style="background:lightyellow"> Computer science</mark>
            </b> spans theoretical disciplines (such as algorithms, theory of computation,
            and information theory) to practical disciplines (including the design and implementation of
            hardware and software). Computer science is generally considered an area of academic research and distinct
            from computer programming.
        </p>
        <center> <p><a class="btn btn-default" href="../Course/Index">More about courses...</a></p> </center>

    </div>
    <div class="newdiv">
        <center> <h3><mark style="background: lightyellow ">software Engineering </mark> </h3></center>
        <p>&nbsp; </p>
        <p>
            <b>
                <mark style="background:lightyellow">
                    Software engineering
                </mark>
            </b> is an engineering approach on a software development of systematics application.
            A software engineer is a person who applies the principles of software engineering to design, develop, maintain,
            test, and evaluate computer software.
        </p>

        <p>&nbsp; </p>
        <center> <p><a class="btn btn-default" href="../Course/Index">More about courses...</a></p> </center>
    </div>
    <div class="newdiv">
        <center>  <h3><mark style="background: lightyellow ">Cyber Security</mark> </h3> </center>
        <p>&nbsp; </p>
        <p>
            <b><mark style="background:lightyellow">Cyber security</mark> </b> is the application of technologies, processes and controls to protect systems, networks,
            programs, devices and data from cyber attacks. It aims to reduce the risk of cyber attacks and protect against
            the unauthorised exploitation of systems, networks and technologies.
        </p>
        <center> <p><a class="btn btn-default" href="../Course/Index">More about courses...</a></p> </center>

    </div>
</div>