@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1><mark style="background: lightyellow ">Collage Error</mark> </h1>
        &nbsp;
        <p><b><u>Learn Without Error....</u></b></p>


        <p class="lead"><h3>This is the Worl's best collage to pursue your degree without <b>Error </b></h3></p>
        <p> @Html.ActionLink(" More About Collage...", "About", "Home", new { @class = "footer2" }) </p>
    </center>
</div>

<div class="row">
    <div class="col-md-4">
       <center> <h3><mark style="background: lightyellow ">Computer Science</mark> </h3></center>

       <p>&nbsp; </p>

        <p>
            <b>
                Computer science
            </b> spans theoretical disciplines (such as algorithms, theory of computation,
            and information theory) to practical disciplines (including the design and implementation of
            hardware and software). Computer science is generally considered an area of academic research and distinct
            from computer programming.
        </p>
    </div>
    <div class="col-md-4">
        <center> <h3><mark style="background: lightyellow ">software Engineering </mark> </h3></center>
        <p>&nbsp; </p>
        <p>
            <b>
                Software engineering
            </b> is an engineering approach on a software development of systematics application.
            A software engineer is a person who applies the principles of software engineering to design, develop, maintain,
            test, and evaluate computer software.
        </p>

        <p>&nbsp; </p>
        <center> <p><a class="btn btn-default" href="../Course/Index">More about courses...</a></p> </center>
    </div>
    <div class="col-md-4">
        <center>  <h3><mark style="background: lightyellow ">Cyber Security</mark> </h3> </center>
        <p>&nbsp; </p>
        <p>
            <b>Cyber security </b> is the application of technologies, processes and controls to protect systems, networks,
            programs, devices and data from cyber attacks. It aims to reduce the risk of cyber attacks and protect against
            the unauthorised exploitation of systems, networks and technologies.
        </p>
    </div>
</div>